


#newPost-form-container
    form(method="POST")#account-form.form-horizontal.well.span6
        input(type="hidden", name="_method", value="PUT")
        p Name
        input(type="text", name="name")
        p Email
        input(type="email", name="email")
        p Age
        input(type="number", name="age")
        p
        input(type="submit")