
.modal-addcomment.modal.hide.fade
    div.modal-header
        button.close(data-dismiss='modal') x
        h3
    div.modal-body
        p
        textarea#commentBody(width=500, height=80)
    div.modal-footer
        button(data-dismiss="modal").cancel.btn Cancel
        button#ok.submit.btn Ok